body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, serif;
    color: black;
    background-color: blanchedalmond;
}

header{
    padding: 30px;
    
    background: rgb(177, 239, 240);


    font-size: 3em;
    font-weight: bold;

}
h2{

    text-align: right;
    margin-right: 30px;

}

section#id1{


    display: flex;
}


article{

    padding: 10px;
    text-align: center;
    width: 100%; /*para indicarle al flexbox que los contenidos se van a ajustar al tamaño de la pantalla*/

}
p{text-align: justify}


#golf{
    margin: 50px;
    
    padding: 25px;
   
    border-top-left-radius: 50px;              
         
    border-bottom-right-radius: 50px;   

    background: rgb(209, 241, 209);

    border-style:outset;
}


#fut{
    margin: 50px;
    
    padding: 25px;
   
    border-top-left-radius: 50px;              
         
    border-bottom-right-radius: 50px;   

    background: rgb(209, 241, 209);

    border-style:outset;
}


#ten{ 



    margin: 50px;
    
    padding: 25px;

    border-top-left-radius: 50px;              
         
    border-bottom-right-radius: 50px;   

    background: rgb(209, 241, 209);
  
    border-style:outset;


}

#bas{

    margin: 50px;
    
    padding: 25px;
    
    border-top-left-radius: 50px;              
         
    border-bottom-right-radius: 50px;    

    border-style:outset;
  
    background: rgb(209, 241, 209);s


}



#nat{
    margin: 50px;
    
    padding: 25px;
   
    border-top-left-radius: 50px;              
         
    border-bottom-right-radius: 50px;   

    background: rgb(209, 241, 209);

    border-style:outset;
}


 section#id2{

     

    margin: 50px;
    
    padding: 25px;
    
    border-top-left-radius: 50px;              
         
    border-bottom-right-radius: 50px;    

    border-style:outset;

   background: rgb(230, 221, 221);
    
 }

 h3.b{
     text-align: center;
    }


 
#series{
    
    text-align: justify;
   
    display: flex;

    border-style: outset;

    background: white;

    border-top-left-radius: 20px;              
         
    border-bottom-right-radius: 50px;    


}
p.c1{
    flex-direction: left;

}

iframe{display: flex;}

footer{
    display: flex;
    text-align: center;
    color:blue; 
     margin-bottom: 30px;
    justify-content:flex-end ;
    margin-right: 30px;
}
#cajaw{
    text-align: center;



}




